<link href='http://fonts.googleapis.com/css?family=Bubblegum+Sans|Chela+One|Parisienne|Maiden+Orange|Sail|Oleo+Script+Swash+Caps:400,700|Tenor+Sans|PT+Serif:400,700,700italic|Lobster|Dynalight|Monoton|Miltonian+Tattoo|Lancelot|Playball|Bangers|Cardo:400,700,400italic|Cookie|Pacifico|Original+Surfer' rel='stylesheet' type='text/css'>


body { 
	text-rendering: optimizeLegibility; 
}
html {
	font: 100%/1.5 Arial, sans-serif;      /* base font, 100% of standard font size */ 
}

/* set up basic font sizes */
h1 {
	font-size: 2em;       /* 2*16 = 32 */         }
h2 {
	font-size: 1.5em;     /* 1.5*16 = 24 */       
}
h3 {
	font-size: 1.17em;    /* 1.17*16 = 18.72 */   
}
h4 {
	font-size: 1em;       /* 1*16 = 16 */         
}
h5 {
	font-size: 0.83em;    /* 0.83*16 = 13.28 */   
}
h6 {
	font-size: 0.75em;    /* 0.75*16 = 12 */      
}

/* good line height and spacing for paragraphs */
p { 
	line-height: 1.5;
    margin: 0 0 1em;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;    
}
/* for indentations */
.indent p+p {
	text-indent: 2em;
	margin-top: -1em;   
}


strong {   
	font-weight: bold;  
}
em {   
	font-style: italic; 
}

code, pre {   
	font-family: monospace, serif;
    font-size: 1em; 
}

blockquote {
	font-style: italic; 
}
blockquote:before { 
	content: "\201C";
	display: inline-block;
	padding-right: .4em;
}

h2, h3 {
	page-break-after: avoid; 
	break-after:avoid;                       
}
